.logo i{
         color: #17bf9e !important;

}
.nav-item  {
  font-weight: 500;
  font-size: 1.1rem;
  color: #0a2b1e;
  text-decoration: none;
  transition: 0.3s;
}
.active{
     color: #17bf9e !important;
}

.nav-item:hover {
  color: #17bf9e !important;
}
.nav__right p {
  font-weight: 500;
  color: #0a2b1e;
  font-size: 1.1rem;
}

.nav__right p i {
  font-size: 1.3rem;
    color: #17bf9e;
}
.bn:focus{
   box-shadow: none !important;

   border-color:  #17bf9e;
 
}